html:root {
  --color-black: #161616;
  --color-white: #fff;
  --color-yellow: #c79211;
  --color-blue: rgba(253, 253, 253, 0);

  --color-head: #F4F8F9;
  --color-nav: #141C26;
  --color-background: #FFFFFF;
  --color-loader: rgba(128, 128, 128, 0.40);
}
